.cards-section-tabs {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  column-gap: 20px;
  font-size: 13px;
  align-items: center;
  color: slategray;

  & span {
    padding: 5px;
  }

  & .active {
    color: #fff;
    border-bottom: 2px solid #23cefd;
  }
}
